* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: rgb(35 39 47);
  height: 100vh;
  color: rgb(246 247 249);
  display: flex;
  justify-content: center;
  align-items: center;
}